<h1>New Post</h1>

<%= form_for(@post) do |f| %>

<div class = "field">
	<%= f.label :title %>
	<%= f.text_field :title %><br><br>
</div>
	
<div class = "field">
	<%= f.label :body %>
	<%= f.text_field :body %>
</div><br><br>

	
<div class="actions">
	<%= f.submit %>
</div>
	

<% end %>